body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.thunderstorm {
	border: 1px solid black;
	padding: 10px;
}

.drizzle {
	border: 1px solid black;
	padding: 10px;
}

.rain {
	border: 1px solid black;
	padding: 10px;
}


.snow {
	border: 1px solid black;
	padding: 10px;
}

.smoke {
	border: 1px solid black;
	padding: 10px;
}

.clear {
	border: 1px solid black;
	padding: 10px;
}

.clouds {
	border: 1px solid black;
	padding: 10px;
}