body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

textarea {
	background: transparent;
	border: none;
	resize: none;
	color: #000000;
	border-left: 1px solid black;
	padding: 10px;
}

.thunderstorm {
	background-image: url("https://openweathermap.org/img/wn/11d@2x.png");	
}

.drizzle {
	background-image: url("https://openweathermap.org/img/wn/09d@2x.png");	
}

.rain {
	background-image: url("https://openweathermap.org/img/wn/09d@2x.png");	
}


.snow {
	background-image: url("https://openweathermap.org/img/wn/13d@2x.png");	
}

.smoke {
	background-image: url("https://openweathermap.org/img/wn/50d@2x.png");
}

.clear {
	background-image: url("https://openweathermap.org/img/wn/01d@2x.png");
}

.clouds {
	
	background-image: url("https://openweathermap.org/img/wn/04d@2x.png");
}